.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h1 {
  color: var(--header-color);
  font-size: var(--fontsize-l);
  font-weight: 900;
  text-shadow: var(--text-shadow-heavy);
}

@media (max-width: 990px) {
  .container h1 {
    font-size: var(--fontsize-m);
  }
}
.requestBox {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 10px;
  padding: 10px 50px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #222;
  align-items: center;
}
.requestBox h5 {
  font-size: var(--fontsize-s);
  color: var(--header-color);
}
.requestBox button {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontsize-s);
  color: var(--link-color);
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color: red;
  height: 40px;
  width: 150px;
}
